<ion-view view-title="Passport (new)" ng-controller="TabCtrl">
   <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-tabs has-header" ng-init="select(13)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

        <p style="display: none;">{{ progress + "%"}}</p>
        <div class="progress-cont">
            <progress max="100" value="{{progress}}"></progress>
        </div>
        <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
        <div class="save-cont">
        </div>

        <div ng-show="activeButton === 'gen'">
            <h3>General</h3>
            <ion-list>
                <p>
                    Barangay clearance is a document that certify an individual that he/she is a resident of that barangay. More importantly, it also proves the applicant that he/she doesn’t have any bad records and in good moral character.</br></br>

                    Barangay clearance is one of the requirements needed when you are processing a legal documents or financial documents. Sometimes, it is being requested when you are applying for a job, ID application, supporting documents or any other legal purpose it that requires. This certificate is stamped and sealed with the Barangay Official Seal and signed by the Barangay. captain.
                </p>
            </ion-list>

            <h3>Address</h3>
            <ion-list>
                <ion-list>
                    <p>
                        <img src="img/maps-screenshot.png" style="width: 100%;"/></br></br>
                        <h5>Solicarel Bldg. R. Magsaysay Blvd. Sta. Mesa Manila, San Juan, Metro Manila</h5>
                    </p>
            </ion-list>
        </div>

        <div ng-show="activeButton === 'proc'">
            <h3>Procedures</h3>
            <ion-list>
                <ion-item class="item-toggle" style="font-size: 22px;">
                1. Make an appointment
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    To set an appointment with the DFA, you can either go to the nearest DFA office or visit the DFA Appointment Website. Answer the application form, and reference number will be given to you after submission. Whether done online or in person, have your accomplished application form printed.
                </p>
                 <ion-item class="item-toggle" style="font-size: 22px;">
                2. Prepare all required documents
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Ensure that all the general requirements are ready before your appointment with the DFA. In case of no birth record, other documents may be required as a substitute for the birth certificate.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                3. Visit the DFA Office
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Go to the DFA Consular Office on your scheduled date and time. If applicable, visit the most convenient DFA satellites and Philippine Embassy Consulate as per your appointment. Do not forget to present your application form and wait for your turn.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                4. Pay for your application
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Proceed to the cashier or the payment section to settle your application and processing fees.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                5. Submit for recording
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Proceed to encoding section and have your photo and other information taken by the staff.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                6. Wait for your passport
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    The processing of your passport can take up to thirty (30) days. If available, you can proceed to the delivery counter and provide your delivery information, so you can have the passport delivered to you. You may also opt to claim your passport in person.
                </p>
        </div>
        
        <div ng-show="activeButton === 'req'">
            <h3>Requirements</h3>
            <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,13)"> Accomplished Form</ion-checkbox>
            <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,13)"> NSO Birth Certificate</ion-checkbox>
                <p>Original copy</p>
            <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,13)"> One (1) valid id or three (3) documents</ion-checkbox>
            <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,13)"> Two (2) photocopies of each document</ion-checkbox>
        </div>

        <h6>Sources: Official Gazette, filipiknow.net, <a href="https://en.wikipedia.org/wiki/Philippine_passport">Wikipedia</a> </h6>
        </div>
    </ion-content>
</ion-view>
