

<ion-view view-title="Death Certificate" ng-controller="TabCtrl">

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">    
            <div class="tabs tabs-icon-left">
                <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                    <i class="icon ion-information-circled"></i>
                    General
                </a>
                <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                    <i class="icon ion-gear-a"></i>
                    Procedures
                </a>
                <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                    <i class="icon ion-unlocked"></i>
                    Requirements
                </a>
            </div>
    </div>

    <ion-content class="has-tabs has-header" ng-init="loadSpecData('death')" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont" ng-controller="PopupCtrl">
                <button class="button button-positive" ng-click="saveSpecData('death')">Save Progress</button>
                <button class="button button-positive" ng-click="saveData()">Update Progress</button>
                <button class="button button-positive" ng-click="loadSpecData('death')">Load Progress</button>
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        Death Certificate is an official document setting forth particulars relating to a dead person, including the name of the individual, the date of birth and the date of death.
                        </br></br>
                        When requesting for death certificate, the interested party shall provide the following information to facilitate verification and issuance of certification.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        <img src="img/maps-screenshot.png" style="width: 100%;"/></br></br>
                        <h5>Solicarel Bldg. R. Magsaysay Blvd. Sta. Mesa Manila, San Juan, Metro Manila</h5>
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1.  Fill up application form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                    </br>
                    <b>Provide the following information:</b></br></br>
                    Number of copies being death-requested</br>
                    Name of the deceased</br>
                    Gender</br>
                    Place of death</br>
                    Date of death</br>
                    Date of registration, if the death certificate was registered  late</br>
                    Purpose of your death-request</br></br>
                    </p>
                    <a href="https://www.ecensus.com.ph/Secure/Files/Death%20Application%20Form.pdf"><button class="button button-assertive" target="_blank">Download Form</button></a>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2.  Submit your accomplished form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                    </br>
                    You can go to your nearest NSO branch or
                    </p>
                    <a href="https://www.ecensus.com.ph/Secure/Files/Death%20Application%20Form.pdf"><button class="button button-assertive" target="_blank">Submit Online</button></a>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.  Claim the death certificate
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-checkbox ng-model="filter.id" ng-value="1">One (1) valid ID</ion-checkbox>
                <ion-checkbox ng-model="filter.form">Accomplished application form</ion-checkbox>
                <ion-checkbox ng-model="filter.fee">Php 330/copy</ion-checkbox>
            </div>

            <h6>Sources: PSA.gov.ph, http://www.iweb.ph/how-to-apply-for-nso-death-certificate</h6>
        </div>
    </ion-content>
</ion-view>