<ion-view view-title="Pagibig" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>

    <ion-content class="has-tabs has-header">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
                <!-- <button class="button button-forms" ng-click="reset()">Saved Progress</button> -->
                <button class="button button-forms" ng-click="insert('death',0)">Save Progress</button>
                <button class="button button-forms" ng-click="select('death')">Load Progress</button>
                <!-- <button class="button button-positive" ng-click="loadData('death')">Load Progress</button> -->
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                      As a Regular Employee, each one is required to acquire Government Identification Numbers.This will be used by our employers for our benefit remittances. I, myself had completed securing all the required Membership including SSS, Philhealth and Pag-Ibig.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        For your immediate concerns you may also reach us at : </br></br>
                        724-4244 (Pag-IBIG) - 24/7 Call Center operation.</br>
                        You may also Email us at contactus@pagibigfund.gov.ph
                    </p>

                <h3>Other information</h3>
                <ion-list>
                    <p>
                        
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item  class="item-toggle" style="font-size: 22px;">
                    1. Accomplish your application form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        The first step is to visit the Pag-IBIG Fund Service website (pagibigfund.gov.ph), and answer the registration form as a new member. If you wish to do this manually, visit the nearest Pag-IBIG office and have a staff guide you in your quick registration. Fill out the form with valid and accurate information.
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2. Take note of your tracking number
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Regardless of whether you applied online or in person, a registration tracking number (RTN) will be sent to your mobile number or email address after your registration. Your RTN can now be used to avail or register for Pag-IBIG services.  
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.Get your MID Number
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        If necessary, visit the Pag-IBIG Fund Service website again and choose the "View Registration Option." Enter your RTN and name, and input the code. View or print your Member's Data Form, and look for the MID No. on the top right of the document.
                    </p>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-checkbox ng-model="filter.printed1"> Accomplished Form </ion-checkbox>
            </div>

            <h6>Sources: <a href="http://http://www.pagibigfund.gov.ph/" target="_blank">http://http://www.pagibigfund.gov.ph/</a>, <a href="http://www.howtoquick.net" target="_blank">http://www.howtoquick.net</a>, <a href="http://www.pinoythinking.com" target="_blank">http://http://www.pinoythinking.com</a> </h6>

        </div>
    </ion-content>
</ion-view>
