<ion-view view-title="Forms PH" style="background-color: #f5f5f5;">
  <ion-content style="text-align: center;">
  	<div class="banner">
	  	<img ng-src="img/coatofarms.png" style="width: 25%;">
	  	<h4 style="text-align: center; color: #0E377B; margin-bottom: 0px;">Gawang Filipino, para sa Filipino</h4>
		<h5 style="text-align: center; font-style: italic; margin-top: 0px;">By the Filipino, for the Filipino</h5>
		<p>
		   	<!-- Ang aming hangarin ay magbigay ng isang lugar kung saan maaaring kunin 
		    ang lahat ng impormasyon sa paglalakad ng mga pampublikong papeles patungkol sa gobyerno. -->
		    <!-- Ito ay bahagi ng aming misyon upang tulungan ang pagunlad sa ating lipunan.
		    Ito ay simula ng pagbabago na tayo mismo ang gagawa, sa pamamagitan ng teknolohiya kaya nating
		    gumawa ng bagong kinabukasan. -->
		</p>
	</div>
  	<div class="intro-div">
		<div class="row">
	  		<div class="col-50">
			    <div class="card notes">
			    	<div class="item item-text-wrap">
			    		B.I.R.
			    	</div>
			    </div>
			</div>
		    <div class="col-50">
			    <div class="card notes">
			    	<div class="item item-text-wrap">
			    		L.T.O.
			    	</div>
			    </div>
			</div>
		</div>
		<div class="row">
	  		<div class="col-50">
			    <div class="card notes">
			    	<div class="item item-text-wrap">
			    		N.S.O.
			    	</div>
			    </div>
			</div>
		    <div class="col-50">
			    <div class="card notes">
			    	<div class="item item-text-wrap">
			    		D.F.A.
			    	</div>
			    </div>
			</div>
		</div>
		<h6>Please be aware that all documents and information shown here are public and freely available to anyone.</h6>
	</div>
  </ion-content>
</ion-view>
