<ion-view view-title="Pagibig">
  <ion-content>
  	<h1>REQUIREMENTS</h1>
  	<ion-list>
    	<ion-item>
			•	Accomplished Registration Form
		</ion-item>
	</ion-list>

<h1>PROCEDURES</h1>
    <ion-list>
    	<ion-item>
    	1.	ACCOMPLISH YOUR APPLICATION FORM
    	</ion-item>
    	The first step is to visit the Pag-IBIG Fund Service website, and answer the registration form as a new member. If you wish to do this manually, visit the nearest Pag-IBIG office and have a staff guide you in your quick registration. Fill out the form with valid and accurate information.
    </ion-list>
    <ion-list>
    	<ion-item>
    	2.	TAKE NOTE OF YOUR TRACKING NUMBER
		</ion-item>
		Regardless of whether you applied online or in person, a registration tracking number (RTN) will be sent to your mobile number or email address after your registration. Your RTN can now be used to avail or register for Pag-IBIG services.
    </ion-list>
    <ion-list>
    	<ion-item>
    	3.	GET YOUR MID NUMBER
		</ion-item>
		If necessary, visit the PAG-IBIG Fund Service website again and choose the "View Registration Option." Enter your RTN and name, and input the code. View or print your Member's Data Form, and look for the MID No. on the top right of the document.
    </ion-list>

    <h6>Source: pagibigfund.gov.ph, howtoquick.net, pinoythinking.com</h6>
  </ion-content>
</ion-view>
