<ion-view view-title="PDOS" ng-controller="TabCtrl">
   <div class="tabs-striped tabs-top background-forms tabs-color-light">    
      <div class="tabs tabs-icon-left">
        <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
          <i class="icon ion-information-circled"></i>
          General
        </a>
        <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
          <i class="icon ion-gear-a"></i>
          Procedures
        </a>
        <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
          <i class="icon ion-unlocked"></i>
          Requirements
        </a>
      </div>
    </div>
    <ion-content class="has-header" ng-init="select(11)" ng-controller="ProgCtrl as progs">
      <div class="tab-views">

        <p style="display: none;">{{ progress + "%"}}</p>
        <div class="progress-cont">
            <progress max="100" value="{{progress}}"></progress>
        </div>
        <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
        <div class="save-cont">
        </div>

        <div ng-show="activeButton === 'gen'">
            <h3>General</h3>
            <ion-list>
                <p>
                  Filipino emigrants or those leaving the country to settle permanently abroad are required to register with the Commission on Filipinos Overseas. Part of its registration requirements is attendance in the Pre-Departure Orientation Seminar(PDOS) to prepare them for settlement overseas.
                </p>
            </ion-list>

            <h3>Address</h3>
            <ion-list>
                <p>
              The Commission on Filipinos Overseas (CFO) - MANILA</br></br>
                Citigold Center, 1345 Pres. Quirino Ave. </br>
                corner Osmena Highway (South Superhighway)</br>
                Manila, Philippines 1007 </br>
                Telephone: (+632) 552-4700</br>
                Email: info@cfo.gov.ph</br>

                </p>

            <h3>Other information</h3>
            <ion-list>
                <p>
                    
                </p>
            </ion-list>
        </div>

        <div ng-show="activeButton === 'proc'">
            <h3>Procedures</h3>
            <ion-list>
                <ion-item class="item-toggle" style="font-size: 22px;">
                1. Go to the website
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                  Click the "I already have..." button if you have already secured your immigrant visa.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                2. Answer preliminary questions
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                  Answer all the preliminary questions to check if required to attend PDOS or Peer Counseling Program. Provide all email address and click "submit".
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                3. Confirm via email
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                  Open email and look for confirmation message. Click on "Confirm Email" and provide information as specified in the "Personal Information" page.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                4. Get Advise to take PDOS/Peer
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                  You will be advised if required to take PDOS/Peer or if you are exempted.
                  </br></br>
                  <b>A. To Attend PDOS/Peer</b>
                  </br></br>
                  If required to attend PDOS, you will be directed to the "SET YOUR SCHEDULE" page. Click the calendar to select preferred date and time to attend the PDOS/PEER session. Note: Limited slots per session, per day.
                  </br></br>
                  <b>B. Exempted (Proceed to Step 5)</b>
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                5. Complete online registration
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                Click "Proceed to registration" button to complete the on-line registration form.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                6. Upload information
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                Upload your recent clear photo and supply correct and complete information in all the fields required in the registration form.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                7. Print confirmation form
                    <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,11)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                    </label>
                </ion-item>
                <p>
                Download and print the barcoded confirmation form. Bring this document together with all the other requirements to CFO on date of appointment with all the other requirements to CFO on date of appointment. NO NEED TO PRINT your registration form. Please come to CFO at least 2 hours before your scheduled PDOS/PEER session for the verification process.
                </p>
        </div>
        
        <div ng-show="activeButton === 'req'">
            <h3>Requirements</h3>
            <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,11)"> Original and photocopy of passport </ion-checkbox>
            <p>
              (must be valid about six months before date of travel.)
            </p>
            <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,11)"> Original and photocopy of visa </ion-checkbox>
            <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,11)"> One 2x2 or passport-size ID </ion-checkbox>
            <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,11)"> One valid ID with photograph </ion-checkbox>
            <p>
              (e.g. SSS ID, GSIS eCard, PRC ID, driver's license, postal ID, ARC, etc.)
            </p>
            <h3>Requirements-USA-bound Immigrant</h3>
            <ion-checkbox ng-model="req5" ng-value='1' ng-change="UpdateBox(5,11)"> Photocopy of Immigrant Data Summary </ion-checkbox>
            <p>
              (must not be detached from visa packet) except for K visa holder.
            </p>
            <h3>Requirements-Canada-bound emigrant</h3>
            <ion-checkbox ng-model="req6" ng-value='1' ng-change="UpdateBox(6,11)"> Original and photocopy of </ion-checkbox>
            <p>
              Confirmation of Permanent Residence (must not be torn or signed before departure)
            </p>
            <h3>Requirements-Japan-bound emigrant</h3>
            <ion-checkbox ng-model="req7" ng-value='1' ng-change="UpdateBox(7,11)"> Original and photocopy of Certificate of Eligibility </ion-checkbox>
            <p>
           
            </p>
            <h3>Requirements-Italy-bound emigrants</h3>
            <ion-checkbox ng-model="req8" ng-value='1' ng-change="UpdateBox(8,11)"> Original and photocopy of Certificate </ion-checkbox>
            <p>
              Nulla Osta
            </p>
            <h3>Requirements-New Zealand-bound emigrants</h3>
            <ion-checkbox ng-model="req9" ng-value='1' ng-change="UpdateBox(9,11)"> Original and photocopy of Certificate </ion-checkbox>
            <p>
              letter of approval for Work to Residence visa.
            </p>
            <h3>Requirements-Australia-bound emigrants</h3>
            <ion-checkbox ng-model="req10" ng-value='1' ng-change="UpdateBox(10,11)"> Printed copy of Visa Grant Notification Letter.</ion-checkbox>
            <p>
            </p>
            <h3>Requirements-immigrant workers</h3>
            <ion-checkbox ng-model="req11" ng-value='1' ng-change="UpdateBox(11,11)"> Photocopy of  employment contract </ion-checkbox>
            <p>
              employment contract
            </p>
            <h3>Requirements-immigrant workers</h3>
            <ion-checkbox ng-model="req12" ng-value='1' ng-change="UpdateBox(12,11)"> Duly completed registration </ion-checkbox>
            <p>
              for Emigrants or for Immigrant workers.
            </p>
            <ion-checkbox ng-model="req13" ng-value='1' ng-change="UpdateBox(13,11)"> Payment of P400.00 registration fee </ion-checkbox>
            <ion-checkbox ng-model="req14" ng-value='1' ng-change="UpdateBox(14,11)">Attendance in the PDOS</ion-checkbox>
            <p>
              guidance counseling or peer counseling session
            </p>
        </div>

        <h6>Sources: <a href="http://www.gov.ph/" target="_blank">http://www.gov.ph/</a>, <a href="http://peos.poea.gov.ph/" target="_blank">http://peos.poea.gov.ph//</a> </h6>
       
      </div>
    </ion-content>
</ion-view>
