<ion-view view-title="PRC ID" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-header" ng-init="select(16)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        The Professional Regulation Commission is responsible for the administration, implementation and enforcement of regulatory policies on the regulation and licensing of various professions and occupations under its jurisdiction. It is the instrument of the Filipino people in securing for the nation a reliable, trustworthy, and progressive system of developing professionals whose personal integrity and spiritual values are solid and respected, whose competencies are globally competitive, and whose commitment to serve the Filipino nation and the whole community is strong and steadfast.
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1.  Download Oath Form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Go to the nearest PRC office and bring the following: </br></br>
                        1.1 One (1) documentary stamp</br>
                        1.2 One (1) passport size picture in plain background with complete name tag (for Registry of Professionals)</br>
                        1.3 Current Community Tax Certificate (cedula) 
                    </p>
                    </br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2.  Present duly accomplished or downloaded oath form.
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Present duly accomplished or downloaded oath form at designated counter/window (verification officer) for assessment of prescribed fees.
                    </p>
                    </br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.  Pay your fees.
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Proceed to the cashier window to pay the prescribed fee. Cashiers’ windows are located at the 3rd, 4th, and 5th floors of the PRC Annex Bldg and/or at the ground floor of the PRC Main Bldg..
                    </p>
                    </br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    4.  Accomplish registry form.
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        After payment, proceed to the designated Registration counter/window. The Registration Officer will print Registry Sheet with assigned Registration / License Number to be signed and thumb marked by the Registrant.
                    </p>
                    </br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    5.  Get your claim slip.
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Upon completion of the Registry Sheet, issuance officer shall issue claim slip/stub.
                    </p>
                    </br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    6.  Claim your PRC card.
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,16)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Receive claim slip/stub and claim your Professional Identification Card as scheduled indicated on your claim slip/stub.
                    </p>
                    </br>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>

                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,15)">Oath Form</ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,15)">One (1) documentary stamp</ion-checkbox>
                    <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,15)">One (1) passport size picture</ion-checkbox>
                    <p>in plain background with complete name tag (for Registry of Professionals)</p>
                    <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,15)">Current Community Tax Certificate (cedula)</ion-checkbox>
                    <ion-checkbox ng-model="req5" ng-value='1' ng-change="UpdateBox(5,15)">Payment Fee</ion-checkbox>
                    </br></br>
                </ion-list>
            </div>

            <h6>Sources: <a href="http://www.prc.gov.ph/registration/?id=28" target="_blank">http://www.prc.gov.ph/registration/?id=28</a></h6>
        </div>
    </ion-content>
</ion-view>