<ion-view view-title="Marriage Certificate">
  <ion-content>
  	<h1>REQUIREMENTS</h1>
  	<ion-list>
    	<ion-item>
			•	Any valid ID
		</ion-item>
	</ion-list>
	<ion-list>
    	<ion-item>
			•	Accomplished Application Form
		</ion-item>
	</ion-list>

<h1>PROCEDURES</h1>
    <ion-list>
    	<ion-item>
    	1.	ACCOMPLISH YOUR APPLICATION FORM
    	</ion-item>
    	Visit an NSO Office or access the PSA website to obtain a copy of the application form. The accomplished form may be submitted to the screeners' desk or online. For online applications, provide your TIN and accurate delivery details.
    </ion-list>
    <ion-list>
    	<ion-item>
    	2.	PAY FOR YOUR APPLICATION
		</ion-item>
		Payments may be made to the cashier or collecting officer for walk-in applications, or using VISA, Mastercard, Bancnet ATM, or Globe GCash, or via Metrobank or Bayad Center for online applications.
    </ion-list>
    <ion-list>
    	<ion-item>
    	3.	WAIT FOR YOUR MARRIAGE CERTIFICATE
		</ion-item>
		Walk-in applicants will receive their marriage certificate within 1 hour. Depending on the delivery conditions, online applicants will need to wait a few days to receive their document. 
    </ion-list>

    <h6>Source: PSA.gov.ph</h6>
  </ion-content>
</ion-view>
