<ion-view view-title="SSS ID" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-header" ng-init="select(19)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        UMID a.k.a. Unified Multi-purpose ID is the single ID card for all SSS, GSIS, Pagibig and Philhealth members so it is important to have one. How to get and apply for UMID card? It is simple and very easy. You cannot get or apply UMID online in the moment as you need to do it personally. 
                        </br></br>
                        UMID system is in compliance with Executive Order No. 420 dated April 13, 2005 which required all government agencies and government owned and controlled corporations (GOCCs) to streamline and harmonize their identification systems, and Executive Order No. 700 dated January 16, 2008 which identified the social security identification system as the core of the UMID system and directed the SSS to implement the streamlining and harmonization of the ID systems of all government agencies and GOCCs.
                        GSIS is the first to adopt the Unified Multi-purpose ID card.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        <img src="img/maps-screenshot.png" style="width: 100%;"/></br></br>
                        <h5>Solicarel Bldg. R. Magsaysay Blvd. Sta. Mesa Manila, San Juan, Metro Manila</h5>
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1.  Visit any of these offices:
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,19)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                    Social Security System (SSS) – See all SSS Offices within Metro Manila</br>
                    PhilHealth</br>
                    Government Service Insurance System (GSIS)</br>
                    Pag-Ibig – See all Pag-Ibig Offices within Metro Manila
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2.  Fill out the form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,19)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Forms are available at enrollment centers . It can also be downloaded online via GSIS (government employee)  or SSS website (private employee or self-employed or OFW).
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.  Verify UMID form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,19)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Submit your form along with your valid IDs.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    4.  ID capture, fingerprint and signature
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,19)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Once you’ve got verified, you’ll be asked to transfer to another window for an ID picture, to scan your fingerprints and to sign on the signature pad.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    5.  Claim your UMID card
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,19)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        After your ID capture, you will have to wait for 30 days to receive your UMID ID by mail. If you fail to receive the ID after 30 days, inquire to your nearest SSS Branch Office.
                    </p>
                    </br></br>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,19)">UMID application form</ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,19)">Any one (1) primary document</ion-checkbox>
                    <ul>
                        <li>Driver's License</li>
                        <li>Passport</li>
                        <li>Professional Regulation Commission (PRC) card</li>
                        <li>Seaman's Book</li>
                    </ul>
                    <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,19)">Any two (2) secondary document</ion-checkbox>
                    <ul>
                        <li>Postal ID</li>
                        <li>School or Company ID</li>
                        <li>TIN</li>
                        <li>Membership card by private company</li>
                        <li>Overseas workers welfare</li>
                        <li>Senior Citizen's ID</li>
                        <li>Voter's ID</li>
                        <li>ATM card with name/Credit card</li>
                        <li>Fisherman's Card</li>
                        <li>GSIS Card</li>
                        <li>Birth Certificate</li>
                        <li>Medical Card</li>
                        <li>Permanent Residency ID</li>
                        <li>Baptism Certificate</li>
                        <li>Marriage Contract</li>
                        <li>NBI Clearance</li>
                        <li>Pag-IBIG</li>
                        <li>Permit to carry firearms</li>
                        <li>PHIC</li>
                        <li>Police clearance</li>
                        <li>Seafarer's certificate</li>
                        <li>Alien certificate of registration</li>
                        <li>Bank account passbook</li>
                        <li>Certificate from the office of the southern/northern cultural communities or office of muslim affairs</li>
                        <li>Certificate of naturalization from bureau of immigration</li>
                        <li>Life insurancy policy</li>
                        <li>Birth/baptism certificate of children or equivalent</li>
                        <li>Certificate of Licensure/Qualification Document/Seafarer's ID & Record book from Maritime Industry</li>
                    </ul>
                <ion-list>
            </div>

            <h6>Sources: <a href="http://www.iweb.ph/how-to-apply-umid-card" target="_blank">http://www.iweb.ph/how-to-apply-umid-card</a></h6>
        </div>
    </ion-content>
</ion-view>