<ion-view view-title="Tax Identification Number (TIN)" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    
    <ion-content class="has-header" ng-init="select(20)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        Any person, whether natural or juridical, required under the authority of the Internal Revenue Code to make, render or file a return, statement or other documents, shall be supplied with or assigned a Taxpayer Identification Number (TIN) to be indicated in the return, statement or document to be filed with the Bureau of Internal Revenue, for his proper identification for tax purposes (Sec. 236 (i) of the Tax Code).
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        1. Know your classification
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,20)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        Each type of TIN application has different requirements. Once you are aware of the
                        type of TIN you are applying for; whichever is necessary, online or from the BIR.
                        </br></br>
                        1901: self-employed and mixed-income individuals.
                        </br></br>
                        1902: individuals earning purely compensation income, or non-resident citizens or residents or resident allen employees.
                        </br></br>
                        1903: corporations and partnerships.
                        </br></br>
                        1904: one-time taxpayer or transact with any government office.
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        2. Accomplish your application form
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,20)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        After receiving or printing the form that you need, fill it out with valid and accurate information. 
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        3. Submit the requirements
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,20)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        Submit your application form together with the documentary requirements depending on your application. Do not hesitate to ask the office or visit the BIR website (bir.gov.ph) for a list of documentary requirements.  
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        4. Claim your tin
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,20)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        After a short processing time, your name will be called to claim your TIN ID.   
                    </p>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,20)"> NSO Birth Certificate (original copy) </ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,20)"> Accomplished Application Form </ion-checkbox>
                </ion-list>
            </div>

            <h6>Sources: <a href="http://www.bir.gov.ph/index.php/registration-requirements/primary-registration/application-for-tin.html" target="_blank">http://www.bir.gov.ph/index.php/registration-requirements/primary-registration/application-for-tin.html/</a> </h6>

        </div>
    </ion-content>
</ion-view>