<ion-view view-title="Business Permit" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    
    <ion-content class="has-header" ng-init="select(1)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                       Ensure full and legal operation of your business through proper registration. Whether you’re starting an online store, a neighborhood shop, or building an office, the first step is to register your business with the Department of Trade and Industry, Bureau of Internal Revenue, and Social Security System (SSS). </br></br>
                       The first step to registering your business is securing a business name. Having a business name will instill confidence in your customers and protect your business name against those who may wish to use it as well.</br></br>
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                     <strong>DEPARTMENT OF TRADE & INDUSTRY (DTI)</strong></br></br>

                        Trade & Industry Building</br>
                        361 Senator Gil J. Puyat Avenue, Makati City</br>
                        Metro Manila, Philippines 1200</br></br>
                         
                        Trunkline: (+632)  7510-DTI (384)</br>
                        Office Hours: 8:00am-5:00pm, Monday to Friday (excluding holidays)</br></br>
                         
                        DTI Direct</br>
                        Hotline: (+632) 751.3330</br>
                        Mobile: (+63) 917.834.3330</br></br>

                        <strong>SECURITIES AND EXCHANGE COMMISSION (SEC)</strong></br></br>
                        PUBLIC INFORMATION AND ASSISTANCE HOTLINE: 584-1119</br>
                        HEAD OFFICE</br>
                        SEC Building, EDSA, Greenhills, Mandaluyong City</br>
                        Trunkline No.:(+632) 584-0923</br>
                        Fax No.:(+632) 584-5293</br>
                    </p>
                </ion-list>
            
                <h3>Other information</h3>
                <ion-list>
                    <p>
                        
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <!-- <ion-item class="item-toggle" style="font-size: 22px;">
                        1.  Fill up application form
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        Warning: please be warned that business permits are stil subject to change based on city's ordinancce that may differ from place to place.
                    </p> -->
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        1. Register your business
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            Register your business with the DTI and obtain a Business Name Registration Certificate.
                        </p>
                        </br>
                        <a href="http://www.bnrs.dti.gov.ph/web/guest/registration" target="_blank"><button class="button button-assertive">Registration Link</button></a>
                        </br></br>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        2. Secure clearance
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item class="item-toggle" style="font-size: 22px;">
                        <p>
                            for barangay/municipal/regional clearance</br>
                            Present your Business Name Registration Certificate, two (2) valid IDs and proof of address of business location to the concerned local government where you plan to setup the business.
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        3. Get a business permit
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            Visit the mayor's office and present your Business Name Registration Certificate, two (2) valid IDs, a map or sketch of the location of the business and your community tax certificate (in some cases).
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        4. Visit the BIR
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            Go to the Bureau of Internal Revenue (BIR) district office where your business will be located and present the following: Business Name Registration Certificate, Mayor's Permit, Barangay Clearance, Proof of your business address (e.g. lease/rental agreement, land title), Book of Accounts, and receipts and invoices from BIR accredited print shops, to be stamped by the BIR.
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        5. Apply for TIN and SSS
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            As a requirement, you are required to secure a Tax Identification Number and apply as a self-employed member of the Social Security System.
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        6. Pay for your application
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            After the application has been turned over to the cashier, you are required to pay for the fees.
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        7. Secure other permits
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check7" ng-change="UpdateToggle(7,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            If necessary, you must secure other permits for your business. Present your paid application to the Bureau of Fire Protection (BFP), Health and Sanitary Office, and City Environment and Natural Resources Office (CENRO) to receive your fire permit, sanitary permit, and environment permit respectively.
                        </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        8. Claim your business permit
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check8" ng-change="UpdateToggle(8,1)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                        <p>
                            Once the process is done, you will receive your license to operate. Take note that in some cities, permits may be issued differently.
                        </p>
                </ion-list>
            </div>
        
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,1)"> At least one of the following documents:</ion-checkbox>
                <p>
                DTI Business Name Registraion Certificate, </br>
                SEC Articles of Partnershp, or </br>
                SEC Certificate of Incorporation. </br>
                </p>
                <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,1)"> At least one of the following clearance: </ion-checkbox>
                <p>
                Barangay, </br>
                Municipal or,</br>
                Regional Clearance
                </p>
                <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,1)"> Business permit from Mayor's office </ion-checkbox>
                <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,1)"> Business Tax Identification Number (TIN) </ion-checkbox>
            </div>

            <h6>Sources: <a href="http://www.gov.ph/services/business-registration/" target="_blank">www.gov.ph/services/business-registration/</a> </h6>

        </div>
    </ion-content>
</ion-view>