<ion-view view-title="Senior Citizen's ID" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-header" ng-init="select(18)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        As provided in our Constitution, the state is duty-bound to recognize the rights of senior citizens by providing support though various social systems. Thus, senior citizens are granted benefits and privileges that range from 20% discount and VAT exemption to mandatory membership in the government’s healthcare system, Philhealth.
                        This page lists down the benefits, privileges, as well as forms of assistance that can be availed by senior citizens.
                        </br></br>
                        One thing people couldn’t have before 60 is the Senior Citizen’s ID. If you’re 60 and above and you still don’t have this ID, well you must get one now because you deserve it and all the benefits our government is offering you. 
                        </br></br>
                        Senior citizens are granted several benefits and privileges (which are listed in the next tab) under Republic Act No. 9994 and Republic Act No. 10645. In order to avail of these benefits, the senior citizen or his/her authorized representative shall present a valid and original Senior Citizens’ Identification Card.</br></br>
                        A Senior Citizens’ Identification Card is issued by the Office of Senior Citizens Affairs (OSCA) in the city or municipality where the senior citizen resides. Documentary requirements vary per municipality, but the basic qualifications based on RA 9994 are as follows:
                        </br>
                        <ul>
                            <li>Must be a Filipino citizen who is a resident of the Philippines</li>
                            <li>Must be 60 years old or above</li>
                            <li>May apply to senior citizens with dual citizenship provided that they prove their Filipino citizenship and have at least six months residency in the Philippines</li>
                        </ul>
                    </p>
                </ion-list>

                <h3>Benefits</h3>
                <ion-list>
                    <p>
                        <b>TWENTY PERCENT (20%) DISCOUNT AND VAT EXEMPTION</b>
                        </br></br>
                        <b>Medical-related privileges</b>
                        </br></br>
                        <b>A.) MEDICINE AND DRUG PURCHASES</b>
                        </br></br>
                        The 20% discount and VAT exemption shall apply to the purchase of the following:
                        Generic or branded medicines and drugs by or for senior citizens, including the purchase of influenza and pneumococcal vaccines.
                        Vitamins and mineral supplements that are medically prescribed by an attending physician for prevention and treatment of diseases, illness, or injury.
                        </br></br>
                        <b>B.) ESSENTIAL MEDICAL SUPPLIES, ACCESSORIES, AND EQUIPMENT</b>
                        </br></br>
                        The 20% discount and VAT exemption privilege shall also apply to following:
                        The purchase of eyeglasses,
                        Hearing aids,
                        Dentures,
                        Prosthetics,
                        Artificial bone replacements like steel, walkers, crutches, wheelchairs (whether manual or electric-powered), canes/quad canes
                        Geriatric diapers, and
                        Other essential medical supplies, accessories and equipment by or for senior citizens.
                        </br></br>
                        <b>C.) MEDICAL AND DENTAL SERVICES IN PRIVATE FACILITIES</b>
                        </br></br>
                        Medical and dental services, diagnostic and laboratory tests such as but not limited to X-Rays, computerized tomography scans, and blood tests, that are requested by a physician as necessary for the diagnosis and/or treatment of an illness or injury are subject to the 20% discount and VAT exemption.
                        </br></br>
                        <b>D.) PROFESSIONAL FEES OF ATTENDING PHYSICIAN/S</b>
                        </br></br>
                        The fees of attending physician/s in all private hospitals,medical facilities, outpatient clinics and home health care facilities shall be subject to the 20% discount and VAT exemption.
                        </br></br>
                        <b>E.) PROFESSIONAL FEES OF LICENSED HEALTH WORKERS PROVIDING HOME HEALTH CARE SERVICES</b>
                        </br></br>
                        as endorsed by private hospitals or employed through home health care employment agencies are entitled to the 20% discount and VAT exemption. The burden of the discount shall be borne solely by the employment agency given the health worker’s very minimal share compared to the agency fee.
                        </br></br>
                        <b>Domestic transportation privileges</b>
                        </br></br>
                        Air and sea transportation privileges
                        Fare for domestic air, and sea travel, including advanced booking, shall be subject to the 20% discount and VAT exemption, if applicable.
                        </br>
                        Public transportation privileges
                        Fare in public railways, including LRT, MRT, and PNR, fares in buses (PUB), jeepneys (PUJ), taxi and shuttle services (AUV), are likewise subject to the 20% discount and VAT exemption, if applicable.
                        </br></br>
                        <b>Hotels, restaurants, recreational centers, and places of leisure, and funeral services</b>
                        </br></br>
                        Hotel and similar lodging establishments
                        The term “hotel” shall include beach and mountain resorts. The discount shall be for room accommodation and other amenities offered by the establishment such as but not limited to:
                        Hotel-based parlors and barber shops, restaurants, massage parlor, spa, sauna bath, aromatherapy rooms, workout gyms, swimming pools, jacuzzis, ktv bars, internet facilities, food, drinks and other services offered.
                        </br></br>
                        <b>Restaurants</b>
                        </br></br>
                        The discount shall be for the purchase of:
                        Food
                        Drinks
                        Dessert, and
                        Other consumable items served by the establishments offered for the consumption of the general public.
                        </br></br>
                        Guidelines in restaurants and similar services
                        </br></br>
                        Guidelines for dine-in, take out, and availing of the senior citizen discounts in restaurants and similar establishments and services
                        </br></br>
                        For Dine-in services, the privilege must be personally availed of by the senior citizen and no proxies or authorization in favor of another person who is not a senior citizen will be honored.
                        </br></br>
                        The 20% senior citizen discount shall not apply to “children’s meals” which are primarily prepared and intentionally marketed for children. Similarly, the 20% senior citizen discount shall not apply to “pre-contracted” party packages or bulk orders. Consistent with the intent of the Act, the phrase “exclusive use and enjoyment” of the senior citizen shall mean “for the senior citizen’s personal consumption” only.
                        </br></br>
                        Food, drinks and other consumable items purchased by the senior citizen shall be processed separately as an independent transaction from his/her non-eligible companions to ensure that it is for his/her exclusive consumption and to enable computation of the 20% discount and the exemption from the Value Added Tax (VAT), which only the senior citizen is entitled to.
                        </br></br>
                        If the group of diners is composed entirely of senior citizens, all of whom present valid senior citizens IDs, each shall be entitled to a 20% discount and exemption from Value Added Tax.
                        </br></br>
                        The 20% discount shall apply to Take-Out/Take-Home/Drive-Thru orders as long as it is the senior citizen himself/herself who is present and personally ordering, and he/she can show a valid senior citizen ID card.
                        For Delivery Orders, the 20% discount shall likewise apply subject to certain conditions; i.e. senior citizen ID card number must be given while making the order over the telephone; the senior citizen ID card must also be presented upon delivery to verify the identity of the senior citizen entitled to the 20% discount.
                        </br></br>
                        the Most Expensive Meal Combination (MEMC) shall apply to food purchases by senior citizens. The MEMC is an amount corresponding to the combination of the most expensive and biggest single-serving meal with beverage served in a quick service restaurant, is deemed flexible and is adjusted accordingly by food establishments to estimate a single food purchase for an individual senior citizen.
                        </br></br>
                        <b>Recreations centers</b>
                        </br></br>
                        The discount shall be for the utilization of services in the form of:
                        Fees,
                        </br></br>
                        Charges and rental for sports facilities or equipment, including golfcart rentals and green fees,
                        </br></br>
                        Venues for ballroom dancing, yoga, badminton courts, bowling lanes, table or lawn tennis, workout gyms, martial arts facilities.
                        </br></br>
                        Note: Non-profit, stock golf and country clubs which are not open to the general public, and are private and for exclusive membership only as duly proven by their official Securities and Exchange (SEC) registration papers, are not mandated to give the 20% senior citizens discount. However, should restaurants and food establishments inside these country clubs be independent  concessionaires and food sold are not consumable items under club membership dues, they must grant the 20% senior citizen discount.
                        </br></br>
                        <b>Admission fees privilege</b>
                        </br></br>
                        The discount shall be applied to admission fees charged by:
                        Theaters, Cinema houses and concert halls,
                        Circuses, Carnivals, and other similar places of culture, leisure and amusement such as museums and parks.
                        </br></br>
                        <b>Funeral and burial services</b>
                        </br></br>
                        The beneficiary or any person who shall shoulder the funeral and burial expenses of the deceased senior citizen, shall claim the discount under this Rule for the deceased senior citizen upon presentation of the death certificate.
                        </br></br>
                        Such expenses shall cover the purchase of:
                        Casket or urn,
                        Embalming,
                        Cremation cost, and
                        Other related services such as viewing or wake cost, pick-up from the hospital morgue, transport of the body to intended burial site in the place of origin,
                        Note: This shall exclude obituary publication and the cost of the memorial lot.
                        </br></br>
                        <b>OTHER PRIVILEGES</b>
                        </br></br>
                        <b>Income tax exemption</b>
                        </br></br>
                        The senior citizen shall be entitled to exemption from the payment of the individual income tax, provided he/she is considered to be minimum wage earner in accordance with Republic Act No. 9504.
                        </br></br>
                        <b>Exemption from training fees</b>
                        </br></br>
                        The senior citizen shall be exempted from training fees for socio-economic programs conducted by private and government agencies subject to the guidelines issued by the DTI, the Department of Labor and Employment (DOLE), the DA, the Technical Education and Skills Development Authority (TESDA) and the Department of Science and Technology – Technology Resource Center (DOST – TRC).
                        </br></br>
                        <b>Free medical and dental services in government facilities</b>
                        </br></br>
                        Medical and dental services, diagnostic and laboratory tests requested by the physician such as but not limited to X-rays, computerized tomography scans, and blood tests availed of by senior citizens, including professional fees of attending doctors in all government hospitals, medical facilities, outpatient clinics, and home health care services, shall be provided free of charge to senior citizens. These shall be in accordance with the rules and regulations to be issued by the DOH, in coordination with the PhilHealth.
                        </br></br>
                        <b>Free vaccinations for indigent senior citizens</b>
                        </br></br>
                        The DOH shall administer free vaccinations against the influenza virus and pneumococcal disease for indigent senior citizen patients.
                        Neglected, abandoned, unattached or homeless senior citizens in government-run residential homes, centers and facilities shall likewise be entitled to free vaccinations under these Rules.
                        </br></br>
                        The DOH shall enjoin all government and private hospitals, as well as other health facilities to post, publish or print out a schedule of health benefits and privileges i.e., laboratory and diagnostic test fees, which should be regularly updated.
                        </br></br>
                        <b>Educational privileges</b>
                        </br></br>
                        Educational assistance shall be granted to senior citizens to pursue post secondary, post tertiary, as well as vocational or technical education in both public and private schools through provision of scholarships, grants, financial aid, subsidies and other incentives to qualified senior citizens.
                        This will also include support for books, learning materials, and uniform allowance, to the extent feasible: Provided, that senior citizens shall meet minimum admission requirements.
                        </br></br>
                        <b>Benefits and privileges for retirees</b>
                        </br></br>
                        To the extent practicable and feasible, the senior citizen shall be granted the continuance of the same benefits and privileges given by the Government Service Insurance System (GSIS), Social Security System (SSS) and PAG-IBIG, as the case may be, as are enjoyed by those in active service.
                        Retirement benefits of retirees from both the government and the private sector shall be regularly reviewed every year to ensure their continuing responsiveness and sustainability, and to the extent practicable and feasible, shall be upgraded to be at par with the current scale enjoyed by those in actual service based on National Economic and Development Authority (NEDA) poverty threshold per region as determined by the National Statistical Coordination Board (NSCB).
                        </br></br>
                        <b>Privileges on granting special discounts in special programs</b>
                        </br></br>
                        To the extent possible, the government may grant special discounts in special programs for senior citizens on purchase of basic necessities and prime commodities, Provided, that such special programs and their guidelines shall be developed by the concerned department within the concerned department’s jurisdiction.
                        </br></br>
                        <b>Express lanes privileges</b>
                        </br></br>
                        Accessible express lanes for senior citizens shall be provided in all private, banking, commercial, and government establishments; in the absence thereof, priority shall be given to them.
                        </br></br>
                        <b>UTILITY DISCOUNTS</b>
                        </br></br>
                        Five (5%) Discounts</br>
                        The grant of a minimum of five percent (5%) discount relative to the monthly utilization of water and electricity by households with senior citizens;
                        </br></br>
                        Provided, That the individual meters for the foregoing utilities are registered in the name of the senior citizen residing therein: provided, further, that the monthly consumption does not exceed one hundred kilowatt hours (100 kWh) of electricity and thirty cubic meters (30 m’) of water:
                        </br></br>
                        Provided, furthermore, that the privilege is granted per household regardless of the number of senior citizens residing therein.
                        To avail of the discount under this Section, the senior citizen shall:
                        Apply for the discount personally or thru a representative. There shall be annual renewal of application to the utility provider.
                        </br></br>
                        Submit requirements:
                        </br>
                    </p>
                        <ul>
                            <li>a. Proof of age and citizenship</li>
                            <li>b. Proof of billing. Meter registration should be in the name of the senior citizen for a period of one year</li>
                            <li>c. Proof of residence</li>
                        </ul>
                    <p>   
                        </br></br>
                        <b>Fifty (50%) Discounts</b>
                        </br></br>
                        The grant of a 50% discount on all electricity, water, telephone consumption for DSWD-accredited senior citizens centers and residential care institutions or group homes that are government-run or organized and operated by non-stock, non-profit domestic corporations, primarily for the purpose of promoting the well-being of abandoned, neglected, unattached or homeless senior citizens.</br></br>
                        Such senior citizen centers and residential care or group homes must have been in operation for at least six (6) months and must have a separate meter for said utilities/services.
                        </br></br>
                        <b>Credit card payments</b>
                        </br></br>
                        The 20% discount and VAT exemption shall also apply to purchases of goods and services by senior citizens paying through credit cards.
                        </br></br>
                        <b>No double discounts</b>
                        In the purchase of goods and services which are on promotional discount, the senior citizen can avail of the establishment’s offered discount or the 20% discount provided herein, whichever is higher and more favorable.
                        In cases where the senior citizen is also a person with disability (PWD) entitled to a 20% discount under his/her valid PWD identification card (ID), the senior citizen shall use either his/her OSCA-issued ID card or PWD ID card to avail of the 20% discount.
                        </br></br>
                        <b>Tax deduction</b>
                        </br></br>
                        The establishment may claim the discounts provided herein as tax deductions based on the cost of the goods sold or services rendered: Provided, that the cost of the discount shall be allowed as deduction from gross income for the same taxable year that the discount is granted: Provided, further, That the total amount of the claimed tax deduction net of VAT, if applicable, shall be included in their gross sales receipts for tax purposes and shall be subject to proper documentation and to the provisions of the National Internal Revenue Code (NIRC), as amended.
                        </br></br>
                        <b>GOVERNMENT ASSISTANCE</b>
                        </br></br>
                        Employment
                        </br></br>
                        Senior citizens, who have the capacity and desire to work, or to be re-employed, shall be provided by the DOLE, in coordination with other government agencies including local government units, with information and matching services to enable them to be productive members of society. Terms of employment shall conform to the provisions of the Labor Code, as amended, Civil Service Laws and other laws, rules and regulations.
                        Private entities that shall employ senior citizens as employees upon effectivity of the Act, shall be entitled to an additional deduction from their gross income, equivalent to fifteen percent (15%) of the total amount paid as salaries and wages to senior citizens subject to the provision of Section 34 of the National Internal Revenue Code (NIRC), as amended and the Revenue Regulations to be issued by the BIR and approved by the DOF; Provided, however, that such employment shall continue for a period of at least six (6) months; Provided, further, that the net annual income of the senior citizen does not exceed the poverty level for that year as determined by NEDA thru the NSCB.
                        </br></br>
                        The DOLE, in coordination with other government agencies, such as, but not limited to, the DOST-Technology Resource Center (DOST-TRC) and the DTI, shall assess, design and implement training programs that will provide free of charge to senior citizens the appropriate skills development, livelihood training programs, and welfare or livelihood support.
                        </br></br>
                        <b>Education</b>
                        The Department of Education (DepEd), the DOST-TRC, the Technical Education and Skills Development Authority (TESDA), and the Commission on Higher Education (CHED), in consultation with non-governmental organizations (NGOs) and people’s organizations (POs) for senior citizens, shall institute a program that will ensure access of senior citizens to formal and non-formal education. They are to:
                        </br></br>
                    </p>
                        <ul>
                            <li>a) Formulate and implement relevant and effective course designs and educational programs;</li>
                            <li>b) Conduct the necessary training for the implementation of the appropriate curriculum for the purpose;</li>
                            <li>c) Ensure the availability of the needed educational facilities in the form of modular programs and other distance and alternative learning materials;</li>
                            <li>d) In coordination with OSCA and the City or Municipal Social Welfare and Development Officer, shall conduct assessment and profiling of senior citizens who wanted to study; and</li>
                            <li>e) Conduct continuing research and development program for the necessary and relevant education of the senior citizens.</li>
                        </ul>
                    <p>  
                        </br></br>
                        <b>Health</b>
                        </br></br>
                        1. The DOH, in coordination with local government units (LGUs), NGOs and POs for senior citizens, shall institute a national health program that shall incorporate the National Prevention of Blindness Program, and shall also provide an integrated health service for senior citizens.
                        It shall train community-based health workers including barangay health workers, among senior citizens and health personnel to specialize in geriatric care, gerontology, and health problems of senior citizens.
                        </br></br>
                        2. The National Health Program aims to promote healthy and productive older population through the following:
                        </br></br>
                        Establishment and provision of a comprehensive and integrated health service package catering to the specific needs of the senior citizens;
                        Human resource development/capability building of health personnel in relation to the care and health problems of senior citizens;
                        Health promotion;
                        </br></br>
                    </p>
                        <ul>
                            <li>Conduct of researches and study in geriatric care, gerontology, and health needs of senior citizens;</li>
                            <li>In coordination with the municipal health worker, designate one (1) barangay health worker to attend to senior citizens’ health needs;</li>
                            <li>The barangay, in coordination with local health office shall designate one day of every month specifically for medical attention of senior citizens;</li>
                            <li>Establishment of senior citizens’ ward in every government hospital and in all levels of hospitals throughout the country; and</li>
                            <li>Provision of accessible express lanes, or prioritization, in all health facilities.</li>
                        </ul>
                    <p>
                        </br></br>
                        3. Provide technical assistance in coordination with DSWD, NGOs and other concerned agencies to local government units in the establishment of community based health rehabilitation programs.
                        </br></br>
                        <b>Social services</b>
                        </br></br>
                        The DSWD, in cooperation with the OSCA and the local government units, non-governmental organizations and people’s organizations for senior citizens, shall develop and implement programs and social services for senior citizens. Local government units shall ensure that the devolved programs and social services are provided. The components of these programs are:
                        </br></br>
                    </p>   
                        <ul>
                        <li>Self and social enhancement services which provide senior citizens opportunities for socializing, organizing, creative expression, and improvement of self;</li>
                        <li>After care services for senior citizens who are discharged from the homes/ institutions for the aged, especially those who have problems of reintegration with family and community, wherein both the senior citizens and their families are provided with counseling;</li>
                        <li>Neighborhood support services/home care services wherein the community or family members provide caregiving services to their frail, sick, or bedridden senior citizens; and</li>
                        <li>Substitute family care in the form of residential care, group homes, or foster homes for the abandoned, neglected, unattached or homeless senior citizens and those incapable of selfcare.</li>
                        <li>Inclusion of community-based settings as practicum for academic institutions and in the curriculum of caregiving and technical vocational schools.</li>
                        </ul>
                    <p>
                        </br></br>
                        <b>Housing</b>
                        </br></br>
                        The national government shall include in its national shelter program the special housing needs of senior citizens, such as establishment of housing units for the elderly.
                        </br></br>
                        The Housing and Land Use Regulatory Board (HLURB) shall formulate housing rules on how to develop subdivision suitable to the requirements of male and female senior citizens. The Home Development Mutual Fund (HDMF) shall promote the establishment of elderly residence and shall review its existing circulars particularly the limitation of the age requirements of sixty-five (65) years old at the date of the loan application and seventy (70) years old at loan maturity. It shall also consider the concept of pension in lieu of compensation.
                        </br></br>
                        The housing program for the poor senior citizens which include the establishment/donation of group/foster homes for the neglected, abused and unattached or homeless senior citizens and those incapable of self-care including its management, maintenance and operations shall be established in accordance with EO 105, approving and directing the implementation of the program, “Provision of Group/Foster Home for Neglected, Abandoned, Abused, Unattached and Poor Older Persons and Persons with Disabilities” promulgated on May 16, 2002.
                        </br></br>
                        <b>Access to public transport</b>
                        </br></br>
                        The DOTC and its attached agencies and sectoral offices shall improve the implementation of programs to assist senior citizens to fully gain access in the use of public transport facilities. The minimum requirements and standards to make transportation facilities and utilities for public use accessible to senior citizens shall be developed to enhance the mobility of senior citizens. There shall be strict implementation of courtesy space and seats for the exclusive use of senior citizens in all transport system. As far as practicable, PUVs shall also strive to install safe lower stepping boards.
                        </br></br>
                        Incentive for foster care 
                        The DILG through the local government units, in consultation with the DOF and the BIR which shall provide the necessary guidelines, shall provide incentives to persons or NGO institutions implementing foster care programs for senior citizens, as follows:
                        Realty tax holiday for the first five (5) years starting from the first year of operation and/or implementation of foster care program; and
                        Priority in the construction, or maintenance of provincial or municipal roads leading to the aforesaid home, residential community or retirement village.
                        </br></br>
                        <b>ADDITIONAL GOVERNMENT ASSISTANCE</b>
                        </br></br>
                        <b>Social pension</b>
                        </br></br>
                        Pursuant to the eligibility criteria as may be determined by the DSWD, indigent senior citizens shall be entitled to a monthly stipend amounting to Five hundred pesos (Php 500.00) to augment the daily subsistence and other medical needs of senior citizens. The grant of social pension shall be subject to a review every two (2) years by Congress, in consultation with the DSWD within three months after convening the Congress.
                        </br></br>
                        <b>Mandatory PhilHealth coverage</b>
                        </br></br>
                        All senior citizens shall be covered by the national health insurance program of PhilHealth. Funds necessary to ensure the enrollment of all senior citizens not currently covered by any existing category shall be sourced from the National Health Insurance Fund of PhilHealth from proceeds of Republic Act No. 10351, in accordance with the pertinent laws and regulations.
                        </br></br>
                        <b>Social safety nets</b>
                        </br></br>
                        Social safety assistance intended to cushion the effects of economic shocks; disasters and calamities shall be available for senior citizens. The social safety assistance which shall include, but not limited to, food, medicines, and financial assistance for domicile repair, shall be sourced from the disaster/calamity funds of local government units where the senior citizens reside, subject to the guidelines to be issued by the DSWD in coordination with DILG.
                        </br></br>
                        <b>Death benefit assistance</b>
                        </br></br>
                        Death benefit assistance of a minimum of Two thousand pesos (Php 2,000.00) shall be given to the nearest surviving relative who took care of the deceased senior citizen until his/her death, or in his/her absence, the benefactor or the licensed foster family of the deceased indigent senior citizen, which amount shall be subject to adjustments every two years due to inflation, in accordance with the guidelines to be issued by the DSWD and DILG.
                        </br></br>
                        In keeping with the intention of the law and similar government assistance being granted, this benefit shall apply in relation to deceased indigent senior citizens only. However, it will not preclude LGUs already granting burial assistance to continue giving such benefit to non-indigent senior citizens.
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1.  Check your eligibility
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,18)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        To avail of senior citizen priveleges, you must be a Filipino citizen, at least 60 years old, and a resident in your city for at least 6 months prior to your application.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2.  Accomplish application form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,18)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        The application form can be obtained from your local office of senior citizens affair (OSCA). Alternatively, some cities have a downloadable application form available from their website. Make sure to fill out the application form with valid and accurate information.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.  Turn over your requirements
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,18)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        Along with your recent ID pictures and other documents for identification, turn over your accomplished application to the person-in-charge.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    4.  Sign your senior citizen's id
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,18)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    </br>
                    <p>
                        The person-in-charge will print your ID and show it to you. After reviewing your details, affix your signature on the ID before claiming it.
                    </p>
                    </br></br>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,18)">Birth Certificate</ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,18)">1x1 colored photo</ion-checkbox>
                    <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,18)">Photocopy of any of these documents</ion-checkbox>
                    <ul>
                        <li>Voter's ID</li>
                        <li>Driver's License</li>
                        <li>NBI Clearance</li>
                        <li>Police Clearance</li>
                        <li>Old Residence Certificate</li>
                        <li>Postal ID</li>
                        <li>or any combination of Identification documents with the applicant's name, birthdate, and present address</li>
                    </ul>
                    <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,18)">Accomplished application form</ion-checkbox>
                    </br></br>
                </ion-list>
            </div>

            <h6>Sources: <a href="#" target="_blank">TO FOLLOW</a></h6>
        </div>
    </ion-content>
</ion-view>