<ion-view view-title="Passport (new)" ng-controller="TabCtrl">
   <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-header" ng-init="select(13)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

        <p style="display: none;">{{ progress + "%"}}</p>
        <div class="progress-cont">
            <progress max="100" value="{{progress}}"></progress>
        </div>
        <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
        <div class="save-cont">
        </div>

        <div ng-show="activeButton === 'gen'">
            <h3>General</h3>
            <ion-list>
                <p>
                    Barangay clearance is a document that certify an individual that he/she is a resident of that barangay. More importantly, it also proves the applicant that he/she doesn’t have any bad records and in good moral character.</br></br>

                    Barangay clearance is one of the requirements needed when you are processing a legal documents or financial documents. Sometimes, it is being requested when you are applying for a job, ID application, supporting documents or any other legal purpose it that requires. This certificate is stamped and sealed with the Barangay Official Seal and signed by the Barangay. captain.
                </p>
            </ion-list>

            <h3>Address</h3>
            <ion-list>
                <ion-list>
                    <p>
                        <img src="img/maps-screenshot.png" style="width: 100%;"/></br></br>
                        <h5>Solicarel Bldg. R. Magsaysay Blvd. Sta. Mesa Manila, San Juan, Metro Manila</h5>
                    </p>
            </ion-list>
        </div>

        <div ng-show="activeButton === 'proc'">
            <h3>Procedures</h3>
            <ion-list>
                <ion-item class="item-toggle" style="font-size: 22px;">
                1. Prepare all required documents
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Applicants must have their NSO birth certificate, a filled-up application form (can be printed online), at least three (3) valid IDs, and other supporting documents that identify the applicant. Make sure to have at least two (2) photocopies of each documents.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                2. Make an appointment
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    To set an appointment with the DFA, you can either go to the nearest DFA office or visit the DFA Appointment Website. Answer the application form, and reference number will be given to you after submission. Whether done online or in person, have your accomplished application form printed.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                3. Appear on your scheduled appointment
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Go to the DFA Consular Office on your scheduled date and time. If applicable, visit the most convenient DFA satellites and Philippine Embassy Consulate as per your appointment. Do not forget to present your application form and wait for your turn.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                4. Go through the process
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Once your queue numbers is called, you will be directed by a DFA official through a short process of finalizing their application.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                5. Pay for your application
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Applicant will be asked to pay a processing fee at the cashier. A fee of <b>Php 950.00 for regular processing and will take about 25 working days</b> exclusive of holidays. A rush processing is also available at <b>Php 1,250.00 for only 15 working days</b> exclusive of holidays. If the application is for a lost and valid passport, applicants will pay an additional Php 200.00 (please note that the DFA advises an allowance of 6 months prior to travel in getting a passport.)
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                6. Submit for recording
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    Proceed to encoding section and have your photo and other information taken by the staff.
                </p>
                <ion-item class="item-toggle" style="font-size: 22px;">
                7. Wait for your passport
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="check7" ng-change="UpdateToggle(7,13)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
                <p>
                    The processing of your passport can take up to thirty (30) days. If available, you can proceed to the delivery counter and provide your delivery information, so you can have the passport delivered to you. You may also opt to claim your passport in person.</br></br>
                    <b>Should the applicant not recieve their passport.</b>
                    </br></br>
                    Should the applicant not recieve their passport in the set amount of time, remember that it is your right to be able to contact and ask for clarity from the DFA office.
                </p>
        </div>
        
        <div ng-show="activeButton === 'req'">
            <h3>Requirements</h3>
            <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,13)"> Accomplished Form</ion-checkbox>
            <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,13)"> NSO Birth Certificate</ion-checkbox>
                <p>Original copy</p>
            <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,13)"> One (1) valid id or three (3) documents</ion-checkbox>
            <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,13)"> Two (2) photocopies of each document</ion-checkbox>
        </div>

        <h6>Sources: Official Gazette, filipiknow.net, <a href="https://en.wikipedia.org/wiki/Philippine_passport">Wikipedia</a> </h6>
        </div>
    </ion-content>
</ion-view>
