<ion-view view-title="Forms PH">
  <ion-content style="text-align: center;">
  	<div class="banner">
	  	<img ng-src="img/logo-150.png" style="width: 150px;">
	  	<h1 style="text-align: center; color: #0E377B; margin-bottom: 0px; margin-top: 30px;"><b>FORMS PH</b></h1>
	  	<h5 style="text-align: center; color: #2e2e2e; margin-bottom: 0px;"><b>About the project</b></h5>
		<!-- <h5 style="text-align: center; font-style: italic; margin-top: 0px;">By the Filipino, for the Filipino</h5> -->
		<p>
		   	<!-- Ang aming hangarin ay magbigay ng isang lugar kung saan maaaring kunin 
		    ang lahat ng impormasyon sa paglalakad ng mga pampublikong papeles patungkol sa gobyerno. -->
		    <!-- Ito ay bahagi ng aming misyon upang tulungan ang pagunlad sa ating lipunan.
		    Ito ay simula ng pagbabago na tayo mismo ang gagawa, sa pamamagitan ng teknolohiya kaya nating
		    gumawa ng bagong kinabukasan. -->
		</p>
	</div>
  	<div class="intro-div">
  		<!-- <div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: #2e2e2e; opacity: 0.6;"></div>	 -->	
  		<!-- <h3>IN PROGRESS<h3> -->
  		<p>This project is the undertaking of Kemuel Clyde Belderol and Potatocodes Inc.</p>

  		<p>First, a thank you to God who gave us strength to finish the project and who is the center of our company and team.</p>

  		<p>To my beta testers, karen, ricard joson, rey alejandro, xyza</p>

  		<p>To dave and josh for contributing with the encoding of the documents</p>

  		<p>To ems and aaron for consulting on the design and UI</p>

  		<p>To trina who let me borrow her android tablet to test the prototypes</p>

  		<p>Last but not the least, thank you to Kemuel Belderol for inspiring us to bring about change in the simplest ways possible and to start with ourselves</p>
		<!-- <ion-item class="card notes" href="#/app/barangay">
			B.I.R.
		</ion-item>
		<ion-item class="card notes" href="#/app/barangay">
			L.T.O.
		</ion-item>
		<ion-item class="card notes" href="#/app/barangay">
			NSO Birth Certificate
		</ion-item> -->
		
	</div>

	<!-- <div ng-controller="NotesCtrl">
      <div class="col-50 card notes" ng-repeat="note in notes" type="item-text-wrap" href="#/app/chats/{{chat.id}}">
        <div class="item item-text-wrap">
			   {{ note.name }}
		</div>
		<p>{{ note.lastText }}</p>
      </div>
    </div> -->

  </ion-content>

  <!-- <div class="bar bar-footer home-bar-footer third-back" style="text-align: center;">
      <h6 class="light footer-copy">Please be aware that all documents and information shown here are public and freely available to anyone. Forms PH v2.0 was built with love by Kemuel in collaboration with Potatocodes Inc.</h6> -->
</ion-view>
