<ion-view view-title="DTI Business Name" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>

    <ion-content class="has-header" ng-init="select(4)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                       Business Name (BN) Registration is one of the principal front-line service of the Department of Trade and Industry (DTI). It aims to maintain a nationwide registry of business names mainly on Sole Proprietorship.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        <strong>DEPARTMENT OF TRADE & INDUSTRY (DTI)</strong></br></br>

                        Trade & Industry Building</br>
                        361 Senator Gil J. Puyat Avenue, Makati City</br>
                        Metro Manila, Philippines 1200</br></br>
                         
                        Trunkline: (+632)  7510-DTI (384)</br>
                        Office Hours: 8:00am-5:00pm, Monday to Friday (excluding holidays)</br></br>
                         
                        DTI Direct</br>
                        Hotline: (+632) 751.3330</br>
                        Mobile: (+63) 917.834.3330</br></br>

                    </p>

                <h3>Other information</h3>
                <ion-list>
                    <p>
                        
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1. Choose a business name
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,4)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Have at least three business names in case your first preference cannot be registered. Make sure not to choose one that is similar or confusingly similar to a registered business name, your next preferred business name will be considered. 
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2. What is an acceptable business name?
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,4)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        In determining whether a proposed business name for registration is acceptable, the following factors shall be considered:A. The root word or words of the name shall be considered (e.g. "Island" instead of "Islander")B. The business name should describe the nature of the business.C. It should be comprised solely of any or all of the following: Letters, numerals, and punctuation marks that are part of the English and Filipino language.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.Search for a business name
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,4)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        An online search facility is provided in the WEBNRS for you to find registered business names in the Philippines (www.bnrs.dti.gov.ph). The search facility should not be used to determine the availability of a business name for registration. This can only be determined at the time of lodgment of an application to register a business name. There are two (2) search criteria available for the public, namely Begins With and Contains. You can conduct a search by typing the exact business name or a few words contained in a business name.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    4.Register your business name
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,4)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Complete BTRCP Form No. 16. Information marked with an asterisk (*) is required field to be filled out. Otherwise, you will receive an error message prompting you to fill them before the succeeding page is displayed.
                    </p>
                    </br>
                    <a href="#" target="_blank"><button class="button button-assertive">Download Form</button></a>
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    5. Submit documentary requirements
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check5" ng-change="UpdateToggle(5)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        The list of documentary requirements to be submitted to the proper DTI Office where your business is located is indicated in the Transaction Reference Number (TRN) Acknowledgement found in the last page of the online application form. The TRN Acknowledgement form should be signed and submitted to DTI also.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    6. Pay your application
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check6" ng-change="UpdateToggle(6)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Payment of application fee can be made at the DTI office indicated in your Transaction Reference Number (TRN) ackowledgement form. You have the option to pay through GCash. Business hours are Monday to Friday, 8:00 am to 5:00 pm.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    7. Secure other permits
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check7" ng-change="UpdateToggle(7)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        If necessary, you must secure other permits for your business. Present your paid application to the Bureau of Fire Protection (BFP), Health and Sanitary Office, and City Environment and Natural Resources Office (CENRO) to receive your fire permit, sanitary permit, and environment permit respectively.  
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    8. Claim your business permit
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check8" ng-change="UpdateToggle(8)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Once the process is done, you will receive your license to operate. Take note that in some cities, permits may be issued differently.
                    </p>
                    </br></br>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <p>
                     <strong>Single Proprietorship</strong>
                </p>

                <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,4)"> Must be a Filipino citizen, at least 18 years old </ion-checkbox>
                <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,4)"> For Filipinos whose names are suggestive of alien nationality </ion-checkbox>
                <p>
                    must submit proof of citizenship such as birth certificate, PRC ID, voter's ID, passport(a)if the applicant has a foreign sounding name, acquired Filipino citizenship by naturalization, election or by other means provided by law, he must submit proof of his Filipino citizenship such as: Naturalization certificate and Oath of Allegiance, Affidavit of election or ID card issued by the Bureau of Immigration and Deportation, or Valid ID card issued by the Integrated Bar of the Philippines (IBP) or Professional Regulatory Commission (PRC)

                </p>
                </br></br>

                <p>
                     <strong>Single Proprietorship (foreign) </strong>
                </p>

                <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,4)"> Photocopy of Alien Certificate of Registration (ACR) </ion-checkbox>
                <p>
                    updated the current year. Present original for comparison. 
                </p>
                <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,4)"> Accomplished DTI Form No. 17 under R.A. 7042 </ion-checkbox>
                <ion-checkbox ng-model="req5" ng-value='1' ng-change="UpdateBox(5,4)"> Current written appointment of Filipino Residential Agent. </ion-checkbox>
                <ion-checkbox ng-model="req6" ng-value='1' ng-change="UpdateBox(6,4)"> Clearance from other involved agencies </ion-checkbox>
                <p>
                    such as Department of Science and Technology (DOST), PNP, etc. 
                </p>
                <ion-checkbox ng-model="req7" ng-value='1' ng-change="UpdateBox(7,4)"> In case of alien retailer, current year's permit to engage in retail business per R.A. 1180
                </ion-checkbox>
            </div>

            <h6>Sources: <a href="http://www.bnrs.dti.gov.ph/web/guest/home" target="_blank">http://www.bnrs.dti.gov.ph</a> </h6>

        </div>
    </ion-content>
</ion-view>