<ion-view view-title="Forms PH">
  <ion-content style="text-align: center;">
  	<img ng-src="img/coatofarms.png" style="width: 50%; margin: 5% 0%; margin-top: 15%;">
  	<div class="intro-div">
	  	<h3 style="text-align: center; color: #0E377B; margin-bottom: 0px;">Gawang Filipino, para sa Filipino</h3>
	    <h4 style="text-align: center; font-style: italic; margin-top: 0px;">By the Filipino, for the Filipino</h4>
	    <p>
	    	<!-- Ang aming hangarin ay magbigay ng isang lugar kung saan maaaring kunin 
	    	ang lahat ng impormasyon sa paglalakad ng mga pampublikong papeles patungkol sa gobyerno. -->
	    	<!-- Ito ay bahagi ng aming misyon upang tulungan ang pagunlad sa ating lipunan.
	    	Ito ay simula ng pagbabago na tayo mismo ang gagawa, sa pamamagitan ng teknolohiya kaya nating
	    	gumawa ng bagong kinabukasan. -->
	    </p>
	</div>
  </ion-content>
</ion-view>
