<ion-view view-title="Police Clearance" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-header" ng-init="select(15)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
                <!-- <button class="button button-forms" ng-click="reset()">Saved Progress</button> -->
                <!-- <button class="button button-forms" ng-click="insert(1,0)">Save Progress</button>
                <button class="button button-forms" ng-click="select(1)">Load Progress</button> -->
                <!-- <button class="button button-positive" ng-click="loadData('death')">Load Progress</button> -->
            </div>
            
            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                    Police clearance is a government document that is released to an individual upon request and one of the documents some employers require in the process of hiring new employees. This certificate ensures that you cleared and has not been involved in any criminal act. This is accepted as a valid ID and can also be use for legitimate identification purposes.As a part of safety precautions, some company employers require a Police Clearance in the process of hiring qualified employees. Getting Passports and other government IDs may also require a police clearance.
                    </br></br>
                    Police clearance, of course, has a validity time which may expire after a year after the certificate has been issued. The validity will not last a lifetime for the reason that you might involved yourself in any criminal cases anytime soon (which hopefully will not happen).
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        1. Go to nearest branch
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,15)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        Make sure to bring all the requirements when you visit the police station to get your clearance. Fill out the requested form with valid and accurate information.
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        2. Pay the necessary fees
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,15)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        After submitting your request form, pay the police clearance fee at the designated payment area or the treasurer's office. The fee varies on the local government.
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        3. Accomplish biometrics
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,15)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        After paying, your fingerprint and photo will be taken by the staff. Also affix your signature when asked to.   
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        4. Claim your clearance
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,15)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                    </ion-item>
                    <p>
                        After a short processing time, your name will be called claim your police clearance.   
                    </p>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>

                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,15)"> Barangay Clearance</ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,15)"> Accomplished Form</ion-checkbox>
                    <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,15)"> Recent Cedula (Community Tax Certificate) </ion-checkbox>
                     <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,15)"> Photocopy of valid ID </ion-checkbox>
                    <p>
                        <strong>Additional Requirement</strong></br></br>
                    </p>
                    <ion-checkbox ng-model="req5" ng-value='1' ng-change="UpdateBox(5,15)"> Latest utility billing</ion-checkbox>
                    <p>
                        Photocopy of any latest utility billing receipt under your name / relative’s name.</br>
                        <em>* might require for new residents or new applicants with no barangay records.</em>
                    </p>
                    <ion-checkbox ng-model="req6" ng-value='1' ng-change="UpdateBox(6,15)"> Two pieces 2x2 picture</ion-checkbox>
                    <p>
                        If camera is unavailable in your police station
                    </p>
                </ion-list>
            </div>

            <h6>Sources: <a href="http://www.gsis.gov.ph/default.php?id=73" target="_blank">http://www.gsis.gov.ph/default.php?id=73</a>, <a href="http://www.quezoncity.gov.ph" target="_blank">http://www.quezoncity.gov.ph</a>, <a href="http://www.powerpinoys.com" target="_blank">http://www.powerpinoys.com</a>, <a href="http://www.faq.ph" target="_blank">http://www.faq.ph</a>, <a href="http://thinkpesos.com" target="_blank">http://www.thinkpesos.com</a> </h6>

        </div>
    </ion-content>
</ion-view>