<ion-view view-title="Marriage Certificate" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>

    <ion-content class="has-header" ng-init="select(6)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                       Any person who changes his/her civil status (from single to married) is required to update his/her record with the civil registry by applying an NSO Marriage Certificate.  Moreover, a change in status will also require an updating of one’s personal data which is necessary in applying for a passport, SSS or GSIS benefits, birth certificate of one’s child/children, PRC license, driver’s license, and other official documents issued by the government. Private companies also require their employees to update their personal data especially their civil status should they get married before they can avail of any benefits accorded by the company. Changing one’s status will necessarily result in the change of names of women, thus, it is imperative for them to submit a Marriage Certificate.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        
                    </p>

                <h3>Other information</h3>
                <ion-list>
                    <p>
                        
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1. Accomplish your application form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,6)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Visit an NSO Office or access the PSA website to obtain a copy of the application form. The accomplished form may be submitted to the screener's desk or online. For online applications, provide your TIN and accurate delivery details. 
                    </p>
                    <p>
                        </br>
                        <a href="https://www.ecensus.com.ph/Secure/OnlineApplication.aspx#Top" target="_blank"><button class="button button-assertive">Online Application</button></a>
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2. Pay for your application
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,6)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Payments may be made to the cashier or collecting officer for walk-in applications, or using VISA, Mastercard, Bancnet ATM, or Globe GCash, or via Metrobank or Bayad Center for online applications.  
                    </p>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3. Wait for your marriage certificate
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,6)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Walk-in applicants will receive their marriage certificate within 1 hour. Depending on the delivery conditions, online applicants will need to wait a few days to receive their document.
                    </p>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,6)"> Accomplished Form</ion-checkbox>
                <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,6)"> Any valid IDs </ion-checkbox>
            </div>

            <h6>Sources: <a href="http://www.psa.gov.ph/default.php?id=73" target="_blank">http://www.psa.gov.ph</a> </h6>

        </div>
    </ion-content>
</ion-view>