<ion-view view-title="Death Certificate" ng-controller="TabCtrl">
    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
        <div class="tabs tabs-icon-left">
            <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                <i class="icon ion-information-circled"></i>
                General
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                <i class="icon ion-gear-a"></i>
                Procedures
            </a>
            <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                <i class="icon ion-unlocked"></i>
                Requirements
            </a>
        </div>
    </div>
    <ion-content class="has-tabs has-header" ng-init="select(2)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">
            
            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        Death Certificate is an official document setting forth particulars relating to a dead person, including the name of the individual, the date of birth and the date of death.
                        </br></br>
                        When requesting for death certificate, the interested party shall provide the following information to facilitate verification and issuance of certification.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        <img src="img/maps-screenshot.png" style="width: 100%;"/></br></br>
                        <h5>Solicarel Bldg. R. Magsaysay Blvd. Sta. Mesa Manila, San Juan, Metro Manila</h5>
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    1.  Accomplish application form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Visit a Serbilis Outlet or access the PSA website to obtain a copy of the application form. The accomplished form may be submitted to the screener's desk or online. For online applications, provide your TIN and accurate delivery details.
                        </br></br>
                        <b>Provide the following information:</b></br></br>
                        Number of copies being death-requested</br>
                        Name of the deceased</br>
                        Gender</br>
                        Place of death</br>
                        Date of death</br>
                        Date of registration, if the death certificate was registered  late</br>
                        Purpose of your death-request</br></br>
                    </p>
                    <a href="https://www.ecensus.com.ph/Secure/Files/Death%20Application%20Form.pdf"><button class="button button-assertive" target="_blank">Download Form</button></a>
                    <p>
                        </br>
                        You can go to your nearest NSO branch to submit your form or
                    </p>
                    <a href="https://www.ecensus.com.ph/Secure/Files/Death%20Application%20Form.pdf"><button class="button button-assertive" target="_blank">Apply Online</button></a>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    2.  Pay Application Fees
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Payments may be made to the cashier or collecting officer for walk-in applications, or using VISA, Mastercard, Bancnet ATM, or Globe GCash, or via Metrobank or Bayad Center for online applications.
                    </p>
                    </br></br>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                    3.  Claim the death certificate
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Walk in applicants will recieve the death certificate within 1 hour. Depending on the delivery conditions, online applicants will need to wait a few days to recieve their document.
                    </p>
                </ion-list>
            </div>
            
            <div ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-list>
                    <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,2)">One (1) valid ID</ion-checkbox>
                    <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,2)">Accomplished application form</ion-checkbox>
                    <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,2)">Processing Fee - Php330/copy</ion-checkbox>
                </ion-list>
            </div>

            <h6>Sources: PSA.gov.ph, http://www.iweb.ph/how-to-apply-for-nso-death-certificate</h6>
        </div>
    </ion-content>
</ion-view>