<ion-view view-title="Philhealth" ng-controller="TabCtrl">

    <div class="tabs-striped tabs-top background-forms tabs-color-light">    
            <div class="tabs tabs-icon-left">
                <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
                    <i class="icon ion-information-circled"></i>
                    General
                </a>
                <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
                    <i class="icon ion-gear-a"></i>
                    Procedures
                </a>
                <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
                    <i class="icon ion-unlocked"></i>
                    Requirements
                </a>
            </div>
    </div>
    <ion-content class="has-tabs has-header" ng-init="select(12)" ng-controller="ProgCtrl as progs">
        <div class="tab-views">

            <p style="display: none;">{{ progress + "%"}}</p>
            <div class="progress-cont">
                <progress max="100" value="{{progress}}"></progress>
            </div>
            <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
            <div class="save-cont">
            </div>

            <div ng-show="activeButton === 'gen'">
                <h3>General</h3>
                <ion-list>
                    <p>
                        <strong>Formal Economy membership</strong></br></br>
                        Those who qualify as members of the formal economy are government workers, private employees, project-based contractors, owners of micro, small, medium, or large enterprises, household help, and family drivers. Click the link above to learn more.
                    </p>
                </ion-list>

                <h3>Address</h3>
                <ion-list>
                    <p>
                        Philippine Health Insurance Corporation, Citystate Centre, 709 Shaw Blvd., Pasig City </br></br>
                        Call center: (02) 441-7442</br>
                        Trunkline: (02) 441-7444</br>   
                    </p>

                <h3>Other information</h3>
                <ion-list>
                    <p>
                        
                    </p>
                </ion-list>
            </div>

            <div ng-show="activeButton === 'proc'">
                <h3>Procedures</h3>
                <ion-list>
                    <ion-item class="item-toggle" style="font-size: 22px;">
                        1. Fill out two (2) copies Form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        PhilHealth Member Registration Form (PMRF)</br></br>
                        <a href="https://www.philhealth.gov.ph/downloads/membership/pmrf_revised.pdf" target="_blank"><button class="button button-assertive">Application Form</button></a>
                    </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        2. Submit your accomplished form
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        Submit PMRF to the HR Department of employer
                    </p>

                    <ion-item class="item-toggle" style="font-size: 22px;">
                        3. Wait for the result 
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <p>
                        to get your Member Data Record and PhilHealth ID card</br></br>
                        For Newly Hired Employees with PIN</br></br> 

                        Report your PIN to your employer for them to indicate the same in their ER2.
                    </p>
                </ion-list>
            </div>
        
            <div class="tab-views" ng-show="activeButton === 'req'">
                <h3>Requirements</h3>
                <ion-checkbox ng-model="filter.printed1"> Photocopy of NSO Birth Certificate</ion-checkbox>
                 <ion-checkbox ng-model="filter.printed3"> Photocopy of valid ID </ion-checkbox>
              
                </p>
            </div>

            <h6>Sources: <a href="http://www.gov.ph/services/philhealth-formal-economy-membership/" target="_blank">http://www.gov.ph/services/philhealth-formal-economy-membership/</a> </h6>

        </div>
    </ion-content>
</ion-view>