<ion-view view-title="PEOS" ng-controller="TabCtrl">
  <div class="tabs-striped tabs-top background-forms tabs-color-light">    
    <div class="tabs tabs-icon-left">
      <a class="tab-item tab-death-proc" ng-class="{ 'active': activeButton === 'gen' }" ng-click="showGen()" style="font-size: 14px;">
            <i class="icon ion-information-circled"></i>
            General
      </a>
      <a class="tab-item" ng-class="{ 'active': activeButton === 'proc' }" ng-click="showProcs()" style="font-size: 14px;">
          <i class="icon ion-gear-a"></i>
          Procedures
      </a>
      <a class="tab-item" ng-class="{ 'active': activeButton === 'req' }" ng-click="showReqs()" style="font-size: 14px;">
          <i class="icon ion-unlocked"></i>
          Requirements
      </a>
    </div>
  </div>
    <ion-content class="has-header" ng-init="select(10)" ng-controller="ProgCtrl as progs">
      <div class="tab-views">

        <p style="display: none;">{{ progress + "%"}}</p>
        <div class="progress-cont">
            <progress max="100" value="{{progress}}"></progress>
        </div>
        <label style="font-size: 18px; float: left; padding-left: 15px;">{{ progress + "%"}}</label>
        <div class="save-cont">
        </div>

        <div ng-show="activeButton === 'gen'">
            <h3>General</h3>
                <p>
                  Undergo a Pre-Employment Orientation Seminar (PEOS) online as a pre-qualification requirement by the Philippine Overseas Employment Administration (POEA).</br></br>

                  New applicants should take the PEOS Online prior to submission of his application to a licensed recruitment agency. Likewise, the recruitment agency should submit for POEA processing only documents of workers who have completed the online PEOS.</br></br>  
                  You can take the POEA Pre-employment Orientation Seminar Online for free. If you have completed the modules provided in the online seminar, POEA will issue you a PEOS Certificate which you can use as an additional certificate when applying a job and you can include it in your pre-employment processing with POEA.
                  PEOS Online have eight modules. Each module including the assessment test takes an average of seven minutes to complete.
                </p>

            <h3>Address</h3>
                <p>
                  Blas F. Ople Building Ortigas Avenue corner EDSA Mandaluyong City</br></br> 
                  Hotlines: 722.11.44 / 722.11.55</br>
                  Email: wed@poea.gov.ph</br>
                  Official Site: www.poea.gov.ph</br>
                </p>
        </div>

        <div ng-show="activeButton === 'proc'">
          <h3>Procedures</h3>
          <ion-list>
              <ion-item class="item-toggle" style="font-size: 22px;">
              1. Register
                  <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check" ng-change="UpdateToggle(1,10)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                  </label>
              </ion-item>
              <p>
                Sign up and log-in with your details to access the learning modules in the websites. Existing members of Jobstreet.com may also use their account to access the PEOS online.
              </p>
              <ion-item class="item-toggle" style="font-size: 22px;">
              2. Take the learning modules
                  <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check2" ng-change="UpdateToggle(2,10)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                  </label>
              </ion-item>
              <p>
                Complete all of the eight (8) self-learning modules. Each module takes approximately seven (7) minutes to complete. 
              </p>
              <ion-item class="item-toggle" style="font-size: 22px;">
              3. Review your learnings
                  <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check3" ng-change="UpdateToggle(3,10)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                  </label>
              </ion-item>
              <p>
                Take the review at the end of each module. Answer all of the questions and get at least 3 correct answers out of the 5 questions to proceed.
              </p>
              <ion-item class="item-toggle" style="font-size: 22px;">
              4. Print your PEOS certificates
                  <label class="toggle toggle-balanced">
                      <input type="checkbox" ng-model="check4" ng-change="UpdateToggle(4,10)">
                      <div class="track">
                          <div class="handle"></div>
                      </div>
                  </label>
              </ion-item>
              <p>
                Save and print a copy of your PEOS certificate and include this in your pre-employment processing with POEA.
              </p>
          </ion-list>
        </div>
        
        <div ng-show="activeButton === 'req'">
            <h3>Requirements-Local</h3>
            <ion-checkbox ng-model="req" ng-value='1' ng-change="UpdateBox(1,10)"> Original and photocopy of passport </ion-checkbox>
            <p>
              (must be valid about six months before date of travel.)
            </p>
            <ion-checkbox ng-model="req2" ng-value='1' ng-change="UpdateBox(2,10)"> Original and photocopy of visa </ion-checkbox>
            <ion-checkbox ng-model="req3" ng-value='1' ng-change="UpdateBox(3,10)"> One 2x2 or passport-size ID </ion-checkbox>
            <ion-checkbox ng-model="req4" ng-value='1' ng-change="UpdateBox(4,10)"> One valid ID with photograph </ion-checkbox>
            <p>
              (e.g. SSS ID, GSIS eCard, PRC ID, driver's license, postal ID, ARC, etc.)
            </p>
            <h3>Requirements-USA-bound Immigrant</h3>
             <ion-checkbox ng-model="req5" ng-value='1' ng-change="UpdateBox(5,10)"> Photocopy of Immigrant Data Summary </ion-checkbox>
             <p>
              (must not be detached from visa packet) except for K visa holder.
            </p>
            <h3>Requirements-Canada-bound emigrant</h3>
            <ion-checkbox ng-model="req6" ng-value='1' ng-change="UpdateBox(6,10)"> Original and photocopy of </ion-checkbox>
             <p>
              Confirmation of Permanent Residence (must not be torn or signed before departure)
            </p>
            <h3>Requirements-Japan-bound emigrant</h3>
             <ion-checkbox ng-model="req7" ng-value='1' ng-change="UpdateBox(7,10)"> Original and photocopy of Certificate of Eligibility </ion-checkbox>
             <p>
           
            </p>
            <h3>Requirements-Italy-bound emigrants</h3>
            <ion-checkbox ng-model="req8" ng-value='1' ng-change="UpdateBox(8,10)"> Original and photocopy of Certificate </ion-checkbox>
            <p>
              Nulla Osta
            </p>
            <h3>Requirements-New Zealand-bound emigrants</h3>
            <ion-checkbox ng-model="req9" ng-value='1' ng-change="UpdateBox(9,10)"> Original and photocopy of Certificate </ion-checkbox>
            <p>
              letter of approval for Work to Residence visa.
            </p>
             <h3>Requirements-Australia-bound emigrants</h3>
            <ion-checkbox ng-model="req10" ng-value='1' ng-change="UpdateBox(10,10)"> Printed copy of Visa Grant Notification Letter.</ion-checkbox>
             <p>
            </p>
            <h3>Requirements-immigrant workers</h3>
            <ion-checkbox ng-model="req11" ng-value='1' ng-change="UpdateBox(11,10)"> Photocopy of  employment contract </ion-checkbox>
            <p>
              employment contract
            </p>
            <h3>Requirements-immigrant workers</h3>
            <ion-checkbox ng-model="req12" ng-value='1' ng-change="UpdateBox(12,10)"> Duly completed registration </ion-checkbox>
            <p>
              for Emigrants or for Immigrant workers.
            </p>
            <ion-checkbox ng-model="req13" ng-value='1' ng-change="UpdateBox(13,10)"> Payment of P400.00 registration fee </ion-checkbox>
            <ion-checkbox ng-model="req14" ng-value='1' ng-change="UpdateBox(14,10)">Attendance in the PDOS</ion-checkbox>
            <p>
              guidance counseling or peer counseling session
            </p>
        </div>

        <h6>Sources: <a href="http://www.gov.ph/" target="_blank">http://www.gov.ph/</a>, <a href="http://peos.poea.gov.ph/" target="_blank">http://peos.poea.gov.ph//</a> </h6>

      </div>
    </ion-content>
</ion-view>
