<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-header bar-positive">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    
      <ion-nav-buttons>
        <button class="button icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/dash">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/chats">
          Chats
        </ion-item>
        <ion-item menu-close href="#/app/barangay">
          Barangay Clearance
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          Business Permit
        </ion-item>
        <ion-item menu-close href="#/app/death">
          Death Certificate
        </ion-item>
        <ion-item menu-close href="#/app/nonpro">
          Driver's License (non-pro)
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          DTI Business Name
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          GSIS e-card
        </ion-item>
        <ion-item menu-close href="#/app/marriage">
          Marriage Certificate
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          NBI Clearance
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          NSO Birth Certificate
        </ion-item>
        <ion-item menu-close href="#/app/pagibig">
          Pagibig
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          PEOS/PDOS
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          Philhealth
        </ion-item>
        <ion-item menu-close href="#/app/passportnew">
          Passport (new)
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          Philippine Passport (renew)
        </ion-item>
        <ion-item menu-close href="#/app/police">
          Police Clearance
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          PRC ID
        </ion-item>
        <ion-item menu-close href="#/app/pwd">
          PWD ID
        </ion-item>
        <ion-item menu-close href="#/app/senior">
          Senior Citizen's ID
        </ion-item>
        <ion-item menu-close href="#/app/umid">
          SSS ID/UMID card (2016)
        </ion-item>
        <ion-item menu-close href="#/app/nbi">
          Tax Identification Number (TIN)
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>