/* Empty. Add your own CSS if you like */
ion-content h1,h2,h3,h4,h5,h6,p{
	margin: 5px 15px;
}
.button{
	margin-left: 15px;
}
.tab-conts{
	min-height: 600px;
}
p{
	font-size: 18px;
}
.banner{
	background-color: white;
	padding: 100px 15px;
}
.intro-div{
	padding: 25px 15px;
	width: 100%;
	height: 500px;
}
.tab-titles{
	margin-top: 60px;
}
.footer-copy{
	margin: 5px auto;
}
.tab-views{
	padding: 60px 0px;
}
.tab-views button{
	background-color: #3A54BB;
}
.tab-views h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #3A54BB;
	border-bottom: 4px solid #3A54BB;
	padding-bottom: 10px;
}
.notes .item{
	background-color: #D63434;
	color: white;
}
.notes{
	margin: 5px;
}
.notes .item:hover{
	background-color: white;
	color: #D63434;
}

.tab-item.active{
	background-color: white;
}