/* Empty. Add your own CSS if you like */
ion-content h1,h2,h3,h4,h5,h6,p{
	margin: 5px 15px;
}
p{
	font-size: 18px;
	margin-top: 15px 0px;
}

.button{
	margin-left: 15px;
}

.banner{
	background-color: white;
	padding: 50px 15px;
}
.intro-div{
	padding: 50px 15px;
	width: 100%;
	min-height: 400px;
}
.card .item-content{
	padding: 15px !important;
}

.tab-titles{
	margin-top: 60px;
}
.tab-conts{
	min-height: 600px;
}
.tab-views{
	padding: 60px 0px;
	padding-bottom: 0px;
}
.tab-views ion-item{
	font-size: 22px;
}
.tab-views ul, .tab-views ol{
	margin: 15px 60px;
	font-size: 16px;
}
.tab-views ul{
	list-style-type: disc;
}
.tab-views ol{
	list-style-type: ordered;
}
.tab-views h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #28357a; /* old color: #3A54BB*/
	border-bottom: 4px solid #28357a;
	padding-bottom: 10px;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #CCCCCC, #26D02B);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress-cont{
	padding: 0px 15px;
	margin-top: 30px;
}
.progress-cont progress{
	background-color: green !important;
}

.save-cont{
	padding: 0px 15px;
	padding-bottom: 15px;
	margin-bottom: 60px;
}
.save-cont .button{
	float: right;
}

.background-forms .tabs, .button-forms, .background-forms{
	background-color: #28357a;
}
.button-forms{
	color: white;
}
.button-forms:hover{
	color: #2e2e2e;
}

.home-bar-footer{
	height: 60px !important;
}

/*.notes .item{
	background-color: #D63434;
	color: white;
}
.notes{
	margin: 5px;
}
.notes .item:hover{
	background-color: white;
	color: #D63434;
}*/

.footer-copy{
	margin: 5px auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 30px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ion-item:first-child{
	margin-top: 0px;
}
ion-item{
	margin-top: 30px;
	margin-bottom: 15px;
}

.home-button{
	width: 70%; 
	margin: 0px; 
	border-radius: 60px;
	font-size: 14px;
}
.first-back{
	background-color: #28357a;
}
.second-back{
	background-color: #222a55;
}
.third-back{
	background-color: #2e2e2e;
}