/* Empty. Add your own CSS if you like */
ion-content h1,h2,h3,h4,h5,h6,p{
	margin: 5px 15px;
}
p{
	font-size: 18px;
}

.button{
	margin-left: 15px;
}

.banner{
	background-color: white;
	padding: 100px 15px;
}
.intro-div{
	padding: 25px 15px;
	width: 100%;
	min-height: 300px;
}
.card .item-content{
	padding: 15px !important;
}

.tab-titles{
	margin-top: 60px;
}
.tab-conts{
	min-height: 600px;
}
.tab-views{
	padding: 60px 0px;
}
.tab-views ion-item{
	font-size: 22px;
}
.tab-views ul, .tab-views ol{
	margin: 15px 60px;
	font-size: 16px;
}
.tab-views ul{
	list-style-type: disc;
}
.tab-views ol{
	list-style-type: ordered;
}
.tab-views h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #3A54BB;
	border-bottom: 4px solid #3A54BB;
	padding-bottom: 10px;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #CCCCCC, #26D02B);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress-cont{
	padding: 0px 15px;
	margin-top: 30px;
}
.progress-cont progress{
	background-color: green !important;
}

.save-cont{
	padding: 0px 15px;
	padding-bottom: 15px;
	margin-bottom: 60px;
}
.save-cont .button{
	float: right;
}

/*.notes .item{
	background-color: #D63434;
	color: white;
}
.notes{
	margin: 5px;
}
.notes .item:hover{
	background-color: white;
	color: #D63434;
}*/

.footer-copy{
	margin: 5px auto;
}